<section class="questao">
	<header [@row]="ready">

		<div>
			<div *ngIf="!play; else elseBlock" >
				<div class="acoes">
					<a [routerLink]="['/']">Desistir</a>
				</div>
				<p>
					Oi, tudo bem?  <br /> <br /> 
					Serão 5 perguntas e você precisa responder pelo menos 4 alternativas corretamente para obter um bom resultado. <br> vamos lá?
				</p>
				<button type="button" (click)="continuar()">Começar</button>
			</div>
			<ng-template #elseBlock>
				<span *ngFor="let item of objeto">{{item.question}}</span>

				<div class="acoes">
					<a [routerLink]="['/']">Desistir</a>
				</div>
			</ng-template>
		</div>
	</header>
	<div *ngIf="visible">
		<div class="status-win" *ngIf="status; else lose">	<strong>Parabéns! </strong>resposta Correta</div>
		<ng-template #lose>
			<div class="status-lose">
				<strong>Você errou! </strong>- a resposta correta é {{respostaCorreta}}
			</div>
		</ng-template>
	</div>

	<article class="alternativas">

		<form *ngIf="play" [formGroup]="optionsForm" novalidate>
			<ul>
				<li *ngFor="let option of options; let i = index" [@row]="ready">
					<input type="checkbox" id="{{questions.id}}-{{i}}"
					name="{{questions.id}}-{{i}}" (change)="onChange(option, $event.target.checked)"
					>
					<label for="{{questions.id}}-{{i}}">{{option}}</label>
				</li>
			</ul>
			<button type="button" [disabled]="!optionsForm.valid" (click)="start()">
				<div *ngIf="!end">
					<span *ngIf="!visible">Confirmar</span>
					<span *ngIf="visible">Continuar</span>
				</div>
				<span *ngIf="end">Resultado</span>
			</button>
		</form>

	</article>
</section>